<div class="block-div">
  <div class="heading-box">
    <h1>Customer Usage Logs</h1>
  </div>
  <app-toast></app-toast>
  <p-confirmDialog></p-confirmDialog>

  <div>
        <div class="block-div-box">
          <div class="table-responsive">
            <p-table [value]="filteredData" [(selection)]="selectedRow" selectionMode="single" [paginator]="true"
              [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [resizableColumns]="true" [sortMode]="'multiple'" (onRowSelect)="onRowSelect($event)">
              <!-- Table Header -->
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">Customer Id <p-sortIcon field="id"></p-sortIcon></th>
                  <th pSortableColumn="name">Customer Name <p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="phone">Phone No. <p-sortIcon field="phone"></p-sortIcon></th>
                </tr>
              </ng-template>

              <!-- Table Body -->
              <ng-template pTemplate="body" let-element>
                <tr [pSelectableRow]="element">
                  <td>{{element.id}}</td>
                  <td>{{element.firstname}} {{element.lastname}}</td>
                  <td>{{element.phone}}</td>
                </tr>

              </ng-template>

              <!-- Empty Message -->
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">No records found</td>
                </tr>
              </ng-template>


              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="6">Total records: {{ filteredData.length }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
  </div>

   <p-dialog [(visible)]="displayModal" [modal]="true" [closable]="true" [header]="'Usage Details'" [style]="{width: '50vw'}">
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="usageloglist" [(selection)]="selectedRow" selectionMode="single" [paginator]="true"
              [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [resizableColumns]="true" [sortMode]="'multiple'" (onRowSelect)="onRowSelect($event)">
              <!-- Table Header -->
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="id">Data Id <p-sortIcon field="id"></p-sortIcon></th>
                  <th pSortableColumn="dataUsedInMb">Data Used <p-sortIcon field="dataUsedInMb"></p-sortIcon></th>
                  <th pSortableColumn="callMinutesUsed">Call Minutes <p-sortIcon field="callMinutesUsed"></p-sortIcon></th>
                  <th pSortableColumn="timeStamp">Time Stamp <p-sortIcon field="timeStamp"></p-sortIcon></th>
                </tr>
              </ng-template>

              <!-- Table Body -->
              <ng-template pTemplate="body" let-element>
                <tr [pSelectableRow]="element">
                  <td>{{element.id}}</td>
                  <td>{{element.dataUsedInMb | number: '1.0-2'}} MB</td>
                  <td>{{element.callMinutesUsed}} min</td>
                  <td>{{element.timeStamp | date:'dd-MM-yyyy HH:mm a'}}</td>
                </tr>

              </ng-template>

              <!-- Empty Message -->
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">No records found</td>
                </tr>
              </ng-template>

            </p-table>
      </div>
    </div>
    <p-footer>
      <button pButton label="Generate Bill" (click)="generatebill(selectedRow)" *ngIf="type?.toLowerCase() === 'postpaid'"></button>
    </p-footer>
  </p-dialog>
</div>
