<div class="container-fluid hdr_cf">
    <header>

        <div class="side_logo_div" >
           
        </div>
       <div class="pv_logo_div col-lg-5" >
            <!-- <a style="cursor:auto;" >
                <span style="cursor:pointer;">{{username}}</span>
            </a> -->
       </div>
      
       <div class="pv_nf_pf col-lg-5">
        <a style="cursor:auto;" >
          <span style="cursor:pointer;">{{username}}</span>
      </a>
            <button class="notifications_big" >
              <i class="fa fa-sign-out sn-ic" aria-hidden="true" (click)="logout()"></i>
           </button>
       </div> 
    </header>
  
  </div>

  
  