

<div class="container-fluid">
  <div class="row login-div">
    <div class="login-section col-lg-5">
      <div class="login-content">
        <h3>
          Sign in
        </h3>
        <p>
          Welcome back! Please login to your account.
        </p>
        <form (ngSubmit)="loginUser()" class="no-scroll-form" [formGroup]="loginForm">
          <div class="input-div">
            <div class="input-field">
              <input type="email" id="emailId" placeholder="Email" required email (focus)="setFocus('emailId')"
                (blur)="removeFocus('emailId')" formControlName="emailId" />
              <div class="i"><i class="fas fa-user"></i></div>
            </div>
          </div>
          <div class="input-div">
            <div class="input-field">
              <input type="password" class="input" formControlName="password" id="password" required minlength="1"
                maxlength="16" [attr.type]="isPasswordVisible ? 'text' : 'password'" placeholder="Password"
                (focus)="setFocus('password')" (blur)="removeFocus('password')" />
              <div class="i">
                <i class="fas fa-lock"></i>
              </div>
            </div>
          </div>
          <button type="button" (click)="togglePasswordVisibility()" class="btn-eye action-icon" *ngIf="password">
            <i class="fas fa-eye"></i>
          </button>
          <input type="submit" class="btn" value="Login" [disabled]="loginForm.invalid" />
        </form>
        <div class="divider">
        </div>

        <div class="google-div">
        </div>
      </div>
    </div>
  </div>
</div>
<app-toast></app-toast>
